@tailwind base;
@tailwind components;
@tailwind utilities;

.polka-dot {
  background-image: radial-gradient(#ddd 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
  background-color: #ffffff;
  background-position: 0 0, 50px 50px;
  background-size: 5px 5px;
}
